.homeimg{
    width:100%;
}
.b1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:white;
    background-color: black;
    height:50px;
}
.th,.th1{
    margin-right:200px;
    float:center;
}
.stick{
position:sticky;
}

li{
    display: inline;
    margin:10px;
}
.nav{
   text-align:center;
   margin-top:10px;
}

li a {
    

    height:100%;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  li {
    float: center;
    
  }
 
  .nav .but{
    color:blue;
    padding: 14px 16px;
    margin-left:200px;
    border-radius: 12px;
   
    height:40px;
  }
  .but:hover{
    background-color:aqua;
  }
  .img1,.img2,.img3,.img4,.img5,.img6{
    width:30%;
  }
 
  .set img{
    margin-right:30px;
  }
  .foot{
    background-color:black;
    color:white;
    
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;

  }